<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Erp2016.Lib.Properties.Settings.ERP2016ConnectionString"
      connectionString="Data Source=10.0.200.207;Initial Catalog=Erp2016;Persist Security Info=True;User ID=sa;Password=Lrn2017!@#"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
